$color-prime : #303030;
$color-second: #999;
$color-background: #222;
$color-href: #00bc8c;
$color-hover: #1e7d60;
$color-text: white;

html {
    font-size: 10px;
}

body {
    background: $color-background;
    font-family: 'Lato', sans-serif;
    color: $color-text;
    font-size: 1.6rem;
}

.game-block {
    width: 85%;
    margin: auto;
}

.colum-two {
    display: flex;
    gap: 15px;
}

audio,
h2,
h3 {
    margin: 7px;
}

.score {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-game {
    font-family: 'Great Vibes', cursive, sans-serif;
    font-size: 4rem;
}

.score-number {
    font-size: 2rem;
}

.green {
    color: $color-href;
}

.names-levels {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // grid-template-columns: repeat(6, 1fr);
    // justify-content: center;
    border-radius: 5px;
    background: $color-href;

    &__item {
        flex: auto;
        list-style-type: none;
        padding: 12px;
        text-align: center;
    }

}

.none {
    display: none;
}

.check-level {
    background: $color-hover;
}


.next-level {
    text-align: center;
    background: $color-prime;
    border-radius: 7px;
    color: $color-text;
    padding: 12px;
    margin-top: 10px;

    &:hover {
        background: $color-href;
    }
}

footer {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;

}

.logorss {
    height: 40px;
}