.check-block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 48%;
    color: $color-text;
    background: $color-prime;
    border-radius: 7px;

    &__item {
        padding: 13px 8px;
        border: 0.3px solid $color-text;

        border-radius: 5px;

        &>img {
            height: 5px;
            border-radius: 50%;
            padding: 5px;
        }

        &:hover {
            background: $color-second;
        }
    }
}