.info-block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 7px;
    min-width: 47%;
    background: $color-prime;
    color: $color-text;
    padding: 15px;

    &__header {
        display: flex;
    }

    &__description {
        margin-top: 15px;
        // padding: 7px 0;
    }
}

.info-block__ban {
    min-width: 48.5%;
    background: $color-prime;
    padding: 10px;
    color: $color-text;
}

.info-block__info {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.info-block__img {
    height: 155px;
    width: 200px;
    border-radius: 15px;
    background-image: url('../info/img/birdOne.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}