//itog
.itog-block {
    display: none;
    background: $color-prime;
    border-radius: 5px;
}

.itog-content {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 90px;
    min-width: 80%;
    text-align: center;
    gap: 15px;
    color: $color-text;
    margin: 30px 0;
}

.pozdr {
    font-size: 4rem;
}

.res {
    margin: 20px 0;
}

.try-agin {
    background: $color-href;
    padding: 10px;
    padding: 15px;
    border-radius: 7px;
}

.win {
    display: none;
    padding: 15px;
    margin: auto;
}