.main-block {
    display: flex;
    background: $color-prime;
    color: $color-text;
    margin: 15px 0;
    border-radius: 7px;
}

.main-block__img {
    border-radius: 15px;
    margin: 20px;
    width: 200px;
    height: 155px;

}

.main-block__info {
    margin-left: 35px;
    min-width: 60%;
    padding-top: 30px;
}

.hr {
    border: 1px solid $color-second;
    width: 100%;
}

.check {
    background: $color-hover;
}